[submodule "blocks/Cinder-View"]
	path = blocks/Cinder-View
	url = https://github.com/richardeakin/Cinder-View.git
[submodule "blocks/Cinder-Profiler"]
	path = blocks/Cinder-Profiler
	url = https://github.com/num3ric/Cinder-Profiler.git
[submodule "blocks/Cinder-AzureKinect"]
	path = blocks/Cinder-AzureKinect
	url = https://github.com/richardeakin/Cinder-AzureKinect.git
[submodule "thirdparty/imGuiZMO.quat"]
	path = thirdparty/imGuiZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat.git
